<div class="container">
    <div class="container__title">
        <h1>Sobre este Blog</h1>
        <p>
            Bem-vindo ao nosso blog de anime! Desenvolvido com Angular para aprendizado, usamos componentização para organizar o código em partes reutilizáveis. O Angular Router permite uma navegação suave entre páginas. Incorporamos dados falsos para conteúdo dinâmico. Além disso, aproveitamos o Angular CLI, Angular Material e Angular Forms para uma experiência robusta e agradável. Junte-se a nós nesta jornada pelo emocionante mundo dos animes!
        </p>
    </div>
    <div class="container__background"></div>
</div>
