.container__articles {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container__articles {
        flex-wrap: wrap; /* Quebra a linha para telas menores */
        justify-content: center; /* Centraliza os itens */
    }
}

@media (max-width: 600px) {
    .container__articles {
        flex-direction: column;
        align-items: center; 
    }
    .articles__main {
        width: 100%;
    }

}
